.float-button{
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    font-size: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 0; 
    bottom: 60px;
    
}
.addbtn{
    background-color: #5877ff;
    right: 40px;
}
.addbtn:hover{
    background-color: #3e58ce;
}
.deletebtn{
    background-color: rgb(251, 76, 76);
    left: 40px;
}
.deletebtn:hover{
    background-color: rgb(167, 49, 49);;
}